.vs/*
bin/*
Application/assets/shaders/spirv_cache/spirv_caching_catalog.txt
Application/*.json
Application/include/physx/
*.dll
*.exp
*.lib
*.spv
*.png
*.jpg
*.exe
*.pdb
*.vc
*.ilk
*.db
*.suo
*.obj
*.log
*.tlog
.vscode
*.enc