; Created Nov 22, 2021
; Last Modified Dec 1, 2021
; =========Framebuffer Reserve=========
; Utility to share framebuffer textures among mc
; rid: 0
ATTACHMENT:
    width: !resolution
    height: !resolution
    format: RGBA8
    samples: 1
END
; rid: 1
ATTACHMENT:
    width: !resolution
    height: !resolution
    format: D32
    samples: 1
END
